html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
 
#app {
  width: 100vw;
  height: 100vh;
}





/* debug mode */
.panel-debug {
  border: 1px solid #D0D0D0;
  border-radius: 6px;
  padding: 10px;
  background: #F1F3F4;
  color: #454545;
}

.panel-debug .element{ 
  display: "flex";
  font-size: small;
  vertical-align: middle;
}

.panel-debug input[type=text], input[type=number], input[type=color], select, textarea{ 
  width: 100%;
  /* padding: 12px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.panel-debug .element label{ 
  font-weight: 600;
  /* padding: 12px 12px 12px 0; */
  /* display: inline-block; */
}

.panel-debug .col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.panel-debug .col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.panel-debug .col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.panel-debug .row::after {
  content: "";
  display: table;
  clear: both;
}

.panel-debug .separator {
  border-top: 1.5px solid #ccc;
  width: 100%;
  margin-top: 6px;
}

