html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
 
#app {
  width: 100vw;
  height: 100vh;
}

/* DevTools */
.react-flow__devtools {
  --border-radius: 4px;
  --highlight-color: rgba(238, 58, 115, 1);
  --font: monospace, sans-serif;
 
  border-radius: var(--border-radius);
  font-size: 11px;
  font-family: var(--font);
}
 
.react-flow__devtools button {
  background: white;
  border: none;
  padding: 5px 15px;
  color: #222;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  font-family: var(--font);
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}
 
.react-flow__devtools button:hover {
  background: var(--highlight-color);
  opacity: 0.8;
  color: white;
}
 
.react-flow__devtools button.active {
  background: var(--highlight-color);
  color: white;
}
 
.react-flow__devtools button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
 
.react-flow__devtools button:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-right: none;
}
 
.react-flow__devtools-changelogger {
  pointer-events: none;
  position: relative;
  top: 50px;
  left: 20px;
  font-family: var(--font);
}
 
.react-flow__devtools-title {
  font-weight: bold;
  margin-bottom: 5px;
}
 
.react-flow__devtools-nodeinspector {
  pointer-events: none;
  font-family: monospace, sans-serif;
  font-size: 10px;
}
 
.react-flow__devtools-nodeinfo {
  top: 5px;
}

/* context menu */
.context-menu {
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
  width: 150px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #D0D0D0;
  border-radius: 6px;
  /* padding: 10px; */
  background: #F1F3F4;
  color: #454545;
}

.context-menu .separator {
  border-top: 1.5px solid #42434a;
}

.context-menu button {
  border: none;
  display: block;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  color: #141414;
  transition: all 0.3s ease-out;
  border-radius: 6px;
  padding: 10px;
  background: transparent;
  font-weight: 600;
}

.context-menu .headerMenu{
  background: #141414;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ddd;
  cursor: pointer;
} 

.context-menu .listMenu{
  padding: 5px;
  color: #ddd;
  cursor: pointer;
} 

.context-menu .delete:hover {
  background-color: #8e2a2a;
}

.context-menu button:hover {
  background-color: #42434a;
  color: #fff;
  transform: translate(1px, -1px);
}

.context-menu button:active {
  transform: scale(0.99);
}

/* debug mode */
.panel-debug {
  border: 1px solid #D0D0D0;
  border-radius: 6px;
  padding: 10px;
  background: #F1F3F4;
  color: #454545;
}

.panel-debug .element{ 
  display: "flex";
  font-size: small;
  vertical-align: middle;
}

.panel-debug input[type=text], input[type=number], input[type=color], select, textarea{ 
  width: 100%;
  /* padding: 12px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.panel-debug .element label{ 
  font-weight: 600;
  /* padding: 12px 12px 12px 0; */
  /* display: inline-block; */
}

.panel-debug .col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.panel-debug .col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.panel-debug .col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.panel-debug .row::after {
  content: "";
  display: table;
  clear: both;
}

.panel-debug .separator {
  border-top: 1.5px solid #ccc;
  width: 100%;
  margin-top: 6px;
}

