.blendmesh-forms .element{ 
    display: "flex";
    font-size: small;
    vertical-align: middle;
}
  
.blendmesh-forms input[type=text], input[type=number], input[type=color], select, textarea{ 
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
.blendmesh-forms .element label{ 
    font-weight: 600;
}

.blendmesh-forms .col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.blendmesh-forms .col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.blendmesh-forms .col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.blendmesh-forms .col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.blendmesh-forms .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.blendmesh-forms .col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.blendmesh-forms .col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.blendmesh-forms .col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.blendmesh-forms .col-90 {
    float: left;
    width: 90%;
    margin-top: 6px;
}

.blendmesh-forms .col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.blendmesh-forms .row::after {
    content: "";
    display: table;
    clear: both;
}